@import 'tailwindcss';
@import "bootstrap/dist/css/bootstrap.min.css";

/* =========================
   LARAVEL / VITE SOURCES
========================= */

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* =========================
   THEME
========================= */

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

/* =========================
   GLOBAL
========================= */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* контейнер */
.container-1600 {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}

/* =========================
   NAVBAR
========================= */

.custom-navbar {
    position: sticky;
    top: 0;
    z-index: 1050;

    background: linear-gradient(
        180deg,
        rgba(255,255,255,0.92) 0%,
        rgba(255,246,237,0.92) 100%
    );
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-bottom: 0.5px solid #d97706;

    box-shadow:
        0 4px 20px rgba(0,0,0,0.04),
        0 1px 2px rgba(0,0,0,0.06);

    will-change: transform;
}

/* =========================
   MENU
========================= */

.navbar-nav {
    gap: 22px;
    align-items: center;
}

/* =========================
   LINKS
========================= */

.custom-navbar .nav-link {
    font-size: 15px;
    font-weight: 500;
    color: #333 !important;
    padding: 8px 0;
    position: relative;
    transition:
        color 0.2s ease,
        transform 0.2s ease;
}

/* underline animation */
.custom-navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #d97706;

    transform: scaleX(0);
    transform-origin: left;

    transition: transform 0.25s ease;
}

.custom-navbar .nav-link:hover::after,
.custom-navbar .nav-link.active::after {
    transform: scaleX(1);
}



.custom-navbar .nav-link:hover {
    color: #d97706 !important;
    transform: translateY(-1px);
}

.custom-navbar .nav-link.active {
    color: #d97706 !important;
    font-weight: 600;
}

@media (max-width: 991px) {
    .navbar-nav {
        gap: 10px;
    }
}

/* =========================
   LOGO
========================= */

.logo {
    height: 70px;
    transition: 0.2s ease;
}

.logo:hover {
    transform: scale(1.03);
}

/* =========================
   BADGE
========================= */

.subtitle-badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 8px 16px;

    background: #404a57;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.08);

    border-radius: 999px;

    font-size: 12px;
    font-weight: 700;

    letter-spacing: 1.8px;
    text-transform: uppercase;

    color: #ff8c00;

    box-shadow:
        0 4px 12px rgba(0,0,0,0.12),
        inset 0 1px 0 rgba(255,255,255,0.05);

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.subtitle-badge:hover {
    transform: translateY(-1px);

    box-shadow:
        0 6px 16px rgba(0,0,0,0.18),
        inset 0 1px 0 rgba(255,255,255,0.06);
}

/*==========================
     PRODUCT CARDS
 =======================*/
.product-card {
    max-width: 240px;
    margin: 0 auto;
    border-radius: 18px;
    overflow: hidden;
    background: #fff;
    transition: transform 0.25s ease, box-shadow 0.25s ease, border-color 0.25s ease;

    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    border-color: rgba(0, 0, 0, 0.18);
}

.product-image-wrapper {
    background: #fafafa;
    padding: 10px;
}

.product-image {
    height: 180px;
    object-fit: contain;
    transition: 0.3s ease;
}

.product-card:hover .product-image {
    transform: scale(1.05);
}


.product-card:hover .product-icons {
    opacity: 1;
    transform: translateY(0);
}

.icon-btn {
    width: 38px;
    height: 38px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(255,255,255,0.95);
    border: 1px solid rgba(0,0,0,0.06);

    line-height: 1;
    padding: 0;
}

.icon-btn i {
    font-size: 16px;
    line-height: 1;
}

.icon-btn:hover {
    background: #111;
    color: #fff;
}
/* цена — важнее */
.product-price {
    font-size: 20px;
    font-weight: 700;
    color: #374151;
    text-align: center;
}

.product-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.05;
    margin-bottom: 1px;
    min-height: 28px;
    color: #374151;
}
.product-title:hover {
    color: #d97706;
}
.product-specs {
    font-size: 12px;
    color: #777;
    margin-bottom: 2px;
    line-height: 1;
}
.price-divider {
    border-top: 1px solid #ececec;
    padding-top: 8px;
}


.quantity-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.qty-btn {
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 8px;
    background: #f3f3f3;
    font-size: 18px;
    transition: 0.2s;
}

.qty-btn:hover {
    background: #111;
    color: #fff;
}

.qty-input {
    width: 50px;
    height: 34px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* кнопка */
.add-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 100%;
    padding: 12px 18px;

    border: none;
    border-radius: 14px;

    background: linear-gradient(180deg, #ff9d00, #ff6a00);
    color: #fff;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.3px;

    box-shadow:
        0 10px 22px rgba(255,140,0,0.22),
        inset 0 1px 0 rgba(255,255,255,0.25);

    transition: all 0.25s ease;
}

.add-cart-btn:hover {
    transform: translateY(-2px);

    background: linear-gradient(180deg, #ffae2b, #ff7b00);

    box-shadow:
        0 14px 28px rgba(255,140,0,0.30),
        inset 0 1px 0 rgba(255,255,255,0.25);
}

.add-cart-btn:active {
    transform: scale(0.98);
}

.add-cart-btn i {
    font-size: 17px;
}
.total-price {
    opacity: 0;
    transform: translateY(-3px);
    transition: 0.2s ease;
    pointer-events: none;
    max-height: 0;
    overflow: hidden;
}

.total-price.show {
    opacity: 1;
    transform: translateY(0);
    max-height: 100px;
}
/* =========================
   SCROLL BUTTONS
========================= */

.scroll-top,
.scroll-down {
    position: fixed;
    width: 60px;
    height: 60px;

    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 9999;

    text-decoration: none;
}

/* TOP */
.scroll-top {
    right: 140px;
    bottom: 20px;

    background: #28a745;
    color: white;

    box-shadow: 0 6px 15px rgba(0,0,0,0.25);

    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);

    transition: 0.25s ease;
}

.scroll-top.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

/* DOWN */
.scroll-down {
    right: 140px;
    top: 160px;

    background: #0d6efd;
    color: white;

    box-shadow: 0 6px 15px rgba(0,0,0,0.25);

    transform: scale(0.95);
    transition: all 0.25s ease;
}

.scroll-down:not(.hide) {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
/* скрыта */
.scroll-down.hide {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.85);
    pointer-events: none;
}
/* hover */
.scroll-top:hover,
.scroll-down:hover {
    transform: scale(1.08);
}

/* =========================
   TABLE
========================= */

.table {
    table-layout: fixed;
    font-size: 12px;
}

/* =========================
   FILTER / FORMS
========================= */
.filter-card {
    position: sticky;
    top: 20px;

    padding: 22px !important;

    background: linear-gradient(180deg, #fff 0%, #fff6ed 100%);
    border: 1px solid #f3d8bb;
    border-left: 3px solid #d97706;
    border-top: 2px solid #d97706;

    border-radius: 22px;

    box-shadow: 0 4px 18px rgba(0,0,0,0.05);

    width: 100%;
}

/* TITLE */
.filter-card h5 {
    font-size: 18px;
    font-weight: 700;
    color: #222;

    margin-bottom: 22px !important;
}

@media (max-width: 992px) {
    .filter-card {
        position: static;
        width: 100%;
    }


}
/* INPUTS */
.filter-form .form-control,
.choices__inner {
    height: 28px !important;
    min-height: 28px !important;

    padding: 0 12px !important;

    display: flex !important;
    align-items: center !important;

    border-radius: 12px !important;
    border: 1px solid #e3e3e3 !important;

    background: #fff !important;

    font-size: 14px;
    font-weight: 600;

    box-shadow: none !important;
    opacity: 1 !important;

    line-height: normal !important; /* ❗ важно убрать 28px */
}

/* FOCUS */
.filter-form .form-control:focus,
.choices.is-focused .choices__inner {
    border-color: #d97706 !important;

    background: #fff !important;

    box-shadow:
        0 0 0 4px rgba(217,119,6,0.08) !important;
}

/* SPACING */
.filter-form .mb-3 {
    margin-bottom: 18px !important;
}

/* BUTTON */
.filter-btn {
    height: 44px;
    padding: 0 22px;

    border-radius: 12px;
    border: 1px solid rgba(217,119,6,0.35);

    background: #343b45;
    color: #f5f5f5;

    font-size: 14px;
    font-weight: 600;

    transition: all 0.25s ease;
}

.filter-btn:hover {
    background: #323a44;
    border-color: #ff9d00;
    color: #ffb35c;

    transform: translateY(-2px);

    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}
.filter-btn,
.filter-form .btn-outline-secondary {
    width: 100%;
}

/* RESET */
.filter-form .btn-outline-secondary {
    height: 44px;
    width: 100%;

    border-radius: 12px;

    font-size: 14px;
    font-weight: 600;

    background: #fff;
    color: #444;

    border: 1px solid #ddd;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.25s ease;
}

.filter-form .btn-outline-secondary:hover {
    background: #f8f8f8;
    border-color: #d97706;
    color: #d97706;

    transform: translateY(-2px);
}
/* LABELS */
.filter-form .form-label {
    font-size: 12px;
    font-weight: 700;

    color: #666;

    margin-bottom: 6px;
    letter-spacing: 0.3px;
}

/* =========================
   CHOICES
========================= */

.choices__list--single {
    line-height: 42px !important;
    padding: 0 !important;
}

.choices__item {
    font-weight: 600;
    color: #111 !important;

    display: flex;
    align-items: center;

    height: 100%;
}
/* =========================
   PRODUCTS
========================= */

.product-image-wrapper {
    position: relative;
}

.product-icons {
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;

    display: flex;
    justify-content: space-between;

    pointer-events: none;
}

.icon-btn,
.wishlist-btn,
.right-icons {
    pointer-events: auto;
}

/* =========================
   DESCRIPTION
========================= */

.description-content .tab-pane {
    line-height: 1.8;
    font-size: 15px;
    color: #444;
}

.description-content .tab-pane p {
    margin-bottom: 12px;
}

.description-content .tab-pane strong {
    color: #111;
}

.description-content .tab-pane ul {
    list-style: disc;
    padding-left: 20px;
}

.description-content .tab-pane ol {
    list-style: decimal;
    padding-left: 20px;
}

/* tabs reset */
.nav-tabs {
    padding-left: 0;
    margin-bottom: 0;
}

.nav-tabs > li,
.nav-tabs .nav-link {
    list-style: none;
}
.title-shop {
    color: #2F4F4F;
}
.header-contact-block {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: auto;
}

.contact-row {
    display: flex;
    align-items: center;
    gap: 6px;
}

.contact-row i {
    font-size: 18px;
    color: #d97706;
    min-width: 20px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.contact-label {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #8a8a8a;
    font-weight: 600;
}

.contact-value {
    font-size: 14px;
    font-weight: 700;
    color: #222;
}
.site-footer {
    background: #111;
    color: #fff;
    padding: 50px 0 20px;
    margin-top: 50px;
}

.site-footer .col-lg-4 {
    display: block;
    text-align: left;
}
/* ===== TITLES ===== */
.footer-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 14px;
    color: #f59e0b;
}

/* ===== ITEMS ===== */
.footer-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #cfcfcf;
}

.footer-item i {
    color: #d97706;
    font-size: 16px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    color: #cfcfcf;
    text-decoration: none;
    transition: 0.2s;
}

.footer-links a:hover {
    color: #d97706;
    padding-left: 4px;
}

/* ===== BOTTOM ===== */
.footer-bottom {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #2a2a2a;
    text-align: center;
    color: #888;
    font-size: 13px;
}
.footer-logo span {
    font-size: 22px;
    font-weight: 700;
}
/* ===== LOGO ===== */
.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
/* ===== TOP GRID ===== */
.footer-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1.3fr;
    gap: 30px;
    align-items: start;
}
/* ===== COLUMNS ===== */
.footer-col {
    text-align: left;
    min-width: 0;

}
.footer-text {
    color: #aaa;
    font-size: 13px;
    line-height: 1.5;
}
/* =========================
   TABS
========================= */



.nav-tabs .nav-link {
    border: none;
    border-radius: 10px 10px 0 0;

    color: #555;
    font-weight: 500;

    padding: 10px 16px;

    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        transform 0.2s ease;
}

/* hover */

.nav-tabs .nav-link:hover {
    color: #d97706;
    background: rgba(217,119,6,0.08);

    transform: translateY(-1px);
}

/* active */

.nav-tabs .nav-link.active {
    color: #d97706 !important;

    background: rgba(217,119,6,0.12);

    font-weight: 600;

    border: none;
}
/*=================================*/
/* ===== CTA ===== */
.footer-cta {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.footer-shop-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 14px 26px;
    border-radius: 14px;

    background: linear-gradient(180deg, #ff9d00, #ff6a00);
    color: #fff;

    font-weight: 700;
    text-decoration: none;

    transition: 0.25s ease;
}


.footer-shop-btn:hover {
    transform: translateY(-3px);
}

.footer-shop-btn i {
    font-size: 18px;
}
/* ===== RESPONSIVE ===== */
@media (max-width: 1100px) {
    .footer-top {
        grid-template-columns: 1fr 1fr;
    }

    .footer-cta {
        justify-content: flex-start;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .footer-top {
        grid-template-columns: 1fr;
    }
}
.header-auth-buttons {
    display: flex;
    gap: 10px;

    margin-top: 12px;
}

.login-btn,
.register-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 6px 14px;
    border-radius: 10px;

    font-size: 13px;
    font-weight: 600;

    transition: all 0.2s ease;
    border: 1px solid transparent;
}

/* LOGIN */

.login-btn {
    background: rgba(217,119,6,0.12);
    color: #d97706;

    border: 1px solid rgba(217,119,6,0.25);
}

.login-btn:hover {
    background: #d97706;
    color: #fff;

    transform: translateY(-2px);
}

/* REGISTER */

.register-btn {
    background: linear-gradient(180deg, #ff9d00, #ff6a00);
    color: #fff;

    border: 1px solid rgba(255,255,255,0.1);

    box-shadow: 0 6px 16px rgba(255,140,0,0.25);
}

.register-btn:hover {
    transform: translateY(-2px);

    background: linear-gradient(180deg, #ffae2b, #ff7b00);

    color: #fff;
}
